.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.buttonIcon {
    width: 2rem;
    height: 2rem;
}

.button {
    border: none;
    cursor: pointer;
}